<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/dash_style.css' />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/37201d6220.js" crossorigin="anonymous"></script>
    <title>Client Login</title>

</head>

<body>
    {{{body}}}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@popperjs/core@2.1.0/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src='/javascripts/bootstrap.min.js'></script>
    <script src='/javascripts/fontawesome.js'></script>
    <script src='/javascripts/client_details.js'></script>
    <script src='/javascripts/selectadvisor.js'></script>
</body>

</html>